:root {
  --primary-color: #6f147b; /* Define the primary color */
}

.test-maker {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: var(--primary-color);
}

h2 {
  color: var(--primary-color);
}

.test-maker label {
  display: block;
  margin: 8px 0;
  font-weight: bold;
  color: var(--primary-color);
}

.test-maker input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  outline: none;
  color: var(--primary-color);
}

.test-maker input::placeholder {
  color: var(--primary-color);
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Ensure full width */
}

.option input {
  flex: 1;
  margin-right: 10px;
}

.add-option {
  display: inline-block; /* Ensure visibility */
  margin-top: 10px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

button:disabled {
  background-color: rgba(111, 20, 123, 0.5); /* Use lighter disabled color */
  cursor: not-allowed;
}

button:hover {
  background-color: rgba(111, 20, 123, 0.8);
}

.delete-question-button {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 18px;
}

.save-question-button {
  margin-top: 10px;
}

.test-preview {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.test-preview h3 {
  margin-bottom: 15px;
}

.test-preview .question-preview {
  margin-bottom: 20px;
}

.test-preview ul {
  list-style-type: none;
  padding: 0;
}

.test-preview li {
  margin-bottom: 10px;
}
