.non-copyable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.builded-test {
  margin: 20px auto;
  padding: 10px;
  width: 90%;
}

.question-item {
  margin-bottom: 20px;
}
.task-details {
  color: #0071ca;
  font-size: 20px;
  font-weight: bold;
}
.question-item p {
  font-size: 20px;
  font-weight: bold;
}
.question-item ul {
  list-style: upper-alpha;
  padding-left: 50px;
}
.question-item li {
  font-size: 18px;
  line-height: 25px;
}
.builded-h2 h2 {
  font-size: 50px;
  margin: 0;
}
.builded-h2 p {
  font-size: 20px;
  margin: 0;
  color: #b5b0b6;
}
